.editInput {
    margin-bottom: 20px !important;
   
    width: 100%;
}

.date {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 35px;
    margin: 0;
    font-size: 18px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.button {
    width: 100%;
    margin-bottom: 15px !important;
}

.buttonContainer {
    width: 100%;
}