.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #E1F9FF;
    border-radius: 4px;
    border-left: 5px solid #32A4E3;
    cursor: pointer;
    line-height: 24px;
    padding-left: 4px;
    padding-top: 1px;
    margin-right: 8px;
    color: #006cbf;
    opacity: 0;
    &:hover {
        background-color: #eafbff;
    }
}

.transparentContainer {
    width: 100%;
    height: 100%;
}

.active {
    display: block;
    opacity: 1;
}